.holder {
    display: flex;
    width: 300px;
    flex-wrap: wrap-reverse;
    height: 90px;
}
.item {
    text-align: center;
    font-weight: bold;
    flex-basis: 100px;
}
.item1 {
    background-color: rgb(249, 63, 63);
    flex-grow: 1;
    order: 2;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-top-left-radius: 15px;
}
.item2 {
    background-color: rgb(100, 140, 219);
    border-bottom: 3px solid black;
}
.item3 {
    background-color: rgb(142, 77, 240);
    order: -1;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}
.item4 {
    background-color: rgb(26, 103, 25);
    order: 1;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
.item5 {
    background-color: rgb(222, 144, 28);
    flex-grow: 1;
    order: 3;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-top-right-radius: 15px;
}